@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bowlby+One);

* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	overflow-x: hidden;
	font-size: 16px;
}
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
header {
	background-color: #eff0e9;
	height: 9vh;
}
.sticky
{
    width:100%;
    position:fixed;
    top:0;
    z-index:100;
} 
nav .container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	/*position: relative;*/
}
nav .lapis-name {
 	margin: 3vh 0;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 98%;
 	/*color: #292c88;*/
 	color: #283196;
 	position: absolute;
 	left: 30px;
 	letter-spacing: 3px;
 }
.nav-prawa {
	float: right;
}
header>nav>div>ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: left;
}
row:before,
row:after {
	content:" ";
	display: table;
	clear: both;
 } 
 header>nav>div>ul>li {
 	display: inline-block;
 }
 header>nav>div>ul>li>a {
 	line-height: 10vh;
 	padding: 3vw 3vh;
 	color: #283196;
 	text-decoration: none;
 	text-transform: uppercase;
 	font-family: 'Open Sans', sans-serif;
 	font-size: 95%;
 }
 header>nav>div>ul>li>a:hover {
 	text-decoration: none;
 	color: #fc9b0f;
 	cursor: pointer;
 }
 .hero{
 	position: relative;
 }
.banner {
	background-image: linear-gradient(#6d82c4 0%, #f9be6b 60%, #f7ea74 100%);
	height: 100vh;
}
 /* .hero .photo-banner {
 	display: block;
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 91vh;
 	position: relative;
 	margin-top: 9vh;
 
 } */

 /* .slogan {
 	position: absolute;
 	top: 150px;
 	left: -30px;
 	background-color: rgba(49, 51, 58, 0.3);
 	color: #292c88;
 	text-align: center;
 	max-width: 80vw;
 	padding: 0 8vh;
 	font-size: 100%;
 	font-family: 'Open Sans', sans-serif;
 	text-transform: uppercase;
 	letter-spacing: 0.2vw;
 } */

/* pozycja logo w gornym lewym rogu bannerka
   .logo{
	position: absolute;
 	top: -25px;
 	left: -50px;
 	width: 220px;
 	max-width: 80vw;
} */

.logo {
	position: absolute;
}
.photo-logo {
	width: 400px;
	margin-left: -5vw;
	margin-top: -130vh;
}
.services {
 	height: 100vh;
 	color: black;
 	/*opacity: 0.5;*/
 }
 .services h1 {
 	margin-top: 17vh;
 }
 .testimonials {
 	height: 100vh;
 	background-image: linear-gradient(#f9be6b 0%, #f7ea74 60%, #FAF207 100%);
 	color: #fff;
 	/*opacity: 0.5;*/
 }
 .testimonials h1 {
 	margin-top: 17vh;
 }
.about {
	/*margin-top: 11vh;*/
	height: 100vh
}
.about-text h2 {
	margin-top: 17vh;
}
.about-p {
	margin-top: 20px;
	font-size: 16px;
}
.kinga-photo {
	width: 100%;
	margin-left: 30px;
	margin-top: 110px;
}
.contact {
	height: 100vh;
	width: 100vw;
	/*background-image: url("img/contact_bg.jpg");*/
	/*background-color: #a7abc9; */
	background-image: linear-gradient(#f9be6b 0%, #6d82c4 100%);
	/*dodatkowy background z gradientem pastelowym - blue-orange-yellow)
	/*background-image: linear-gradient(#6d82c4 0%, #f9be6b 60%, #f7ea74 80%, #FAF207 100%);*/
	/*background-repeat: no-repeat;*/
	color: #fff;
}
.contact h3 {
	margin-top: 25vh;
	margin-left: 10vw;
}
.contact p {
	margin-left: 10vw;
	margin-top: 20px;
}
.contact i {
	margin-right: 20px;
	margin-top: 30px;
	color: #fff;

}
.contact i:hover {
	color: lightgray;
	cursor: pointer;
}
.form-group {
	width: 500px;
	margin-left: 10vw;
}
.submit {
	margin-left: 10vw;
}
.form-group label {
	font-size: 14px;
	font-weight: normal;
}
.form-control {
	opacity: 0.4;
}
.form-control textarea {
	color: black;
}
.submit {
	/*background-color: #427e96;*/
	color: #fff;
	/*border-color: #427e96;*/
	background-color: #c8a98a;
	border-color: #c8a98a;
}